<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31477972028-df5up56fbtmlv4oe01j4r9bq1o1ehqcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31477972028-df5up56fbtmlv4oe01j4r9bq1o1ehqcm</string>
	<key>API_KEY</key>
	<string>AIzaSyCpY-EEbonUfBeh0x4wiyHphK38fm9HG5k</string>
	<key>GCM_SENDER_ID</key>
	<string>31477972028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team1952.EcoAction</string>
	<key>PROJECT_ID</key>
	<string>ecoaction0523</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoaction0523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31477972028:ios:c3e0b8f09bd9ede6</string>
	<key>DATABASE_URL</key>
	<string>https://ecoaction0523.firebaseio.com</string>
</dict>
</plist>